@model MobilePhonesWebsite.ViewModels.HeadphonesVM.DisplayHeadphonesVM;
@{
    ViewBag.Title = "Headphones";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <!-- banner-2 -->
    <div class="page-head_agile_info_w3l">
        <div class="container py-5">
            <h3 class="title-style pt-5"><span>Слушалки</span></h3>
            <ul class="w3_short pt-3 pb-5">
                <li>
                    <a href="~/Home/Index">Начало</a>
                    <i class="fa fa-angle-right mx-2" aria-hidden="true"></i>
                </li>
                <li>Слушалки</li>
            </ul>
        </div>
    </div>
    <!-- //banner-2 -->
    <!-- top Products -->
    <div class="ads-grid py-sm-5 py-4">
        <div class="container py-xl-4 py-lg-2">
                <div id="Message" style="text-align:center"></div>
            <!-- //tittle heading -->
            <div class="row">
                <!-- product right -->
                <div class="col-lg-3 mt-lg-0 mt-4 p-lg-0 order-lg-first order-first">
                    <div class="side-bar p-sm-4 p-3">
                        <form asp-action="HeadphonesPage" asp-controller="Products" method="get">

                            <!-- //price -->
                            <!-- electronics -->
                            <div class="left-side py-2">
                                <h3 class="agileits-sear-head mb-3">Производител</h3>
                                <ul>
                                    <li>
                                        <input type="checkbox" class="checked" asp-for="Brand1" value="true">
                                        <span class="span">Apple</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked" asp-for="Brand2" value="true">
                                        <span class="span">Samsung</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked" asp-for="Brand3" value="true">
                                        <span class="span">Huawei</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="checked" asp-for="Brand4" value="true">
                                        <span class="span">Beats</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="range py-2">
                                <h3 class="agileits-sear-head mb-3">Цена (лв.)</h3>
                                <div class="price-wrapper">
                                    <div class="price-slider">
                                        <div class="price-progress"></div>
                                    </div>
                                    <div class="price-range-input">
                                        <input type="range" class="price-range-min" min="0" max="1000" value="0" step="1">
                                        <input type="range" class="price-range-max" min="0" max="1000" value="1000" step="1">
                                    </div>
                                    <input type="hidden" id="priceGap" value="200" />
                                    <div class="price-input">
                                        <div class="price-field" style="display:block">
                                            <span>Минимум</span>
                                            <input type="number" class="price-input-min" value="0" asp-for="MinPrice">
                                        </div>
                                        <div class="price-separator"></div>
                                        <div class="price-field" style="display:block">
                                            <span>Максимум</span>
                                            <input type="number" class="price-input-max" value="1000" asp-for="MaxPrice">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-style mt-3">Филтрирай</button>
                            <a href="/Products/HeadphonesPage" style="display:block">Изчисти филтри</a>
                        </form>
                    </div>
                    <!-- //product left -->
                </div>
                <!-- product right -->
                <div class="agileinfo-ads-display col-lg-9 order-lg-last order-first">
                    <div class="wrapper">
                        <!-- first section -->
                        <div class="product-sec1 px-lg-4">
                            <div class="row">
                                @foreach (var headphones in Model.WiredHeadphones)
                                {
                                    <div class="col-md-4 product-men">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item text-center">
                                                <img src="@Url.Action("GetImageWiredHeadphones", "Products", new {id = headphones.Id })" alt="" class="img-fluid">
                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="/Products/SingleWiredHeadphonesPage/@headphones.Id" class="link-product-add-cart">Прегледай</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-info-product text-center mt-2">
                                                <h4 class="pt-1">
                                                    <a>@string.Concat(headphones.Brand, " ", headphones.Model)</a>
                                                </h4>
                                                <div class="info-product-price">
                                                    <span class="item_price">@string.Concat(headphones.Price, "лв.")</span>
                                                </div>
                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                                    <button class="btn btn-style btn-style-secondary mt-3" onclick="addToCartWiredHeadphones(@headphones.Id)">
                                                        Добави в количка
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @foreach (var headphones in Model.WirelessHeadphones)
                                {
                                    <div class="col-md-4 product-men">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item text-center">
                                                <img src="@Url.Action("GetImageWirelessHeadphones", "Products", new {id = headphones.Id })" alt="" class="img-fluid">
                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="/Products/SingleWirelessHeadphonesPage/@headphones.Id" class="link-product-add-cart">Прегледай</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-info-product text-center mt-2">
                                                <h4 class="pt-1">
                                                    <a>@string.Concat(headphones.Brand, " ", headphones.Model)</a>
                                                </h4>
                                                <div class="info-product-price">
                                                    <span class="item_price">@string.Concat(headphones.Price, "лв.")</span>
                                                </div>
                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                                    <div class="column">
                                                        <button class="btn btn-style btn-style-secondary mt-3" onclick="addToCartWirelessHeadphones(@headphones.Id)">
                                                            Добави в количка
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/priceSlider.js"></script>
</html>